.DS_Store

.htaccess-1


plugins-x*

plugins/mdl-*



live


*.beautified.*

*/*.json


# images
#-------------------------
*.psd

*.jpg
*.jpeg

*.gif

*.tiff

*.bmp



*.rar
*.zip


# images
#-------------------------

pro/


# themes
#-------------------------

loc/themes/**/


####################################
# Automatization
####################################
gulpfile.js
node_modules/

package*.json



# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


directorios.txt