.DS_Store

.htaccess-1


plugins/mdl-*


live


*.beautified.*


# images
#-------------------------
*.psd

*.jpg
*.jpeg

*.gif

*.tiff

*.bmp



*.rar
*.zip


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


directorios.txt